.right {
   height: 100%;
   width: 100%;
    background-image: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

    background-position: center;
    background-size: cover;
}

.left {
    padding: 20px;
}

.contactme{
    margin: 30px;
    width: 900px;
    height: 700px;
    border: 1px solid #ddcbc2;
    overflow: hidden;
    border-radius: 15px;
    display: grid;
    
    grid-template-columns: 1fr 1fr;
    background-color: #2a292b;
    color: #ddcbc2;

    box-shadow: 0 0 10px #ddcbc2;

}
fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;         
    width: 100%;


    border: none;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}

.form__button {
    width: 16rem;

    background-color: #ddcbc2;
    font-size: 16px;

    border-radius: 40px;
}
.socials {
    display: flex;
    flex-direction: column;
}

.inputbox {
    color: white;
    height: 100%;
    width: 100%;
   box-sizing: border-box;
    padding: 5px;
    margin: 0;
    border: none;

    border: 1px solid #ddcbc2;

    border-radius: 5px;

    background-color: #2a292b;
}

.social__platforms{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.social__platforms a {
    text-decoration: none;
    &:hover {
        cursor: pointer;
        scale: 1.1;
    }
}


img {
    width: 40px;
}

@media screen and (max-width: 900px) {

    .contactme {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
}