.hero {
    height: 600px;
    width: auto;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background-image: url(https://images.unsplash.com/photo-1600447881904-4909a61bc9a0?q=80&w=2128&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;

    filter: sepia(0.2);

    position: relative;
}
.shop__wrapp {
    width: 100%;
}
.hero__title {
    font-size: 50px;
    padding-bottom: 80px;
    padding-right: 600px;
    color: #ddcbc2;
}
.shop__nav {
    justify-self: flex-end;
    position: absolute;

    width: 100%;
    bottom: 0;
}
.nav__screen{
    display: flex;

    justify-content: space-evenly;
}
.nav__item {
    background-color: rgba(245, 245, 220, 0.651);
    border: none;
    border-left: 1px solid black;
    font-size: 20px;
    color: black;
    width: 100%;
    text-align: center;
    list-style: none;

    &:hover {
        cursor: pointer;
        background-color: rgba(245, 245, 220, 0.897);
    }
}


.shop__grid {
    padding: 40px;
    display: grid;
    justify-items: center;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    background-color: #2a292b;
}

.filters {
    text-align: center;
    font-size: 30px;
    color: #ddcbc2;
    background-color: #2a292b;
}

@keyframes expandAnimation {
    0% {
      min-width: 100px;
    }
    100% {
      min-width: 200px;
    }
  }

@keyframes collapseAnimation {
    0% {
      min-width: 200px;
    }
    100% {
      min-width: 100px;
    }
  }
  
  .button {

  }

.grid__item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    max-width: 400px;
    overflow: hidden;
    max-height: 600px;
    background-color: white;

    text-align: center;
    box-shadow: 0 0 20px rgb(160, 163, 0);

}
.img__wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
figcaption {
    width: 100%;
}

.grid__image {
    width: 50%;
    height: auto;
}

.cart__button {
    border-radius: 15px;
    padding: 5px;
    background-color: green;
    min-width:80px ;
    color: white;

    animation-name: collapseAnimation;
    animation-duration: 100ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    &:hover {
        cursor: pointer;
        background-color: rgb(10, 187, 10);
    }
}

.inCart {
    border-radius: 15px;
    padding: 5px;
    background-color: red;
    color: white;
    min-width: 140px;

    animation-name: expandAnimation;
    animation-duration: 100ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;

    &:hover {
        cursor: pointer;
        background-color: rgb(226, 90, 72);
    }
}

.pricebox {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__small {
    display: none;
}


@media screen and (max-width: 1000px) {

    @keyframes expandAnimation {
        0% {
          min-width: 60px;
        }
        100% {
          min-width: 100px;
        }
      }
    
    @keyframes collapseAnimation {
        0% {
          min-width: 100px;
        }
        100% {
          min-width: 60px;
        }
      }
    .shop__grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .nav__screen {
        display: none;
    }

    .arrow {
        border: solid black;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
      }


      .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    .nav__small {
        width: 100vw;
        display: flex;
        position: relative;
        flex-direction: column;

        text-align: center;
        font-size: 20px;
        color: black;
        background-color: rgba(245, 245, 220, 0.651);
    }

    .dropdowns {
        position: absolute;
        display: none;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: 100%;
        z-index: 1;
    }

    .nav__small:hover .dropdowns {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .shop__grid {
        grid-template-columns: repeat(1, 1fr);
    }
}

